.page-header {
    position: static;
}

.page-header h1.title {
    position: static;
    margin-top: 50px;
    color: black;
}

.page-header figure {
    overflow: hidden;
    max-height: 400px;
}

.page-header figure img {
    width: 100% !important;
    height: auto; !important;
}

#banner .nivoSlider {
    max-height: 800px;
    overflow:hidden;
}

#banner .nivoSlider .nivo-caption-content, #banner .nivoSlider .nivo-caption-content .title {
    color: black;
}

#banner a.banner-link {
    width: 100%;
    font-size:26pt;
    line-height: 28pt;
    font-weight: bold;
    padding: 50px;
    display: block !important;
    color: #EEEEEE;
    background-color: #e27900;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    cursor: pointer;
}
#banner a.banner-link:hover {
    color: white;
    background-color: #f89816;
}

.section.section-galleries, .section.section-events {
    background-color: #efe6da;
}

.header-inner {
    position: initial;
    background-color: #111111;
}

li > .dropdown {
    z-index: 99;
}

h1.title {
    font-size: 52px;
    font-weight: bold;
}

h1.title.shadow {
    text-shadow: 2px 1px 1px white;
}

.title.title-center {
    text-align:center;
    margin-bottom: 30px;
}

h1 span.line-title.white {
    color: white;
}

p.desc.banner-text {
    text-shadow: 1px 1px 0 white;
    font-size: 36px;
    line-height: 40px;
}

.single-gallery {
    -webkit-transition: opacity 1s ease 1s;
    transition: opacity 1s ease 1s;
    opacity: 1;
    z-index: 3;
    padding-bottom: 50px;
    width: 100%;
    overflow: hidden;
}


/* Gallery Bootstrap Fix */
@media (max-width: 991px) {
    .galleries .gallery-item.col-xs-4 {
        width: 32.4%;
    }
}
@media (min-width: 992px) {
    .galleries .gallery-item.col-md-3 {
        width: 24.5%;
    }
}


.single-gallery-inner {
    padding: 50px 0;
}

.single-gallery-navigation {
    text-align:center;
    margin-bottom: 35px;
    padding: 15px 0;
}

#seasonspecials .menus.home {
    background-color:rgba(0, 0, 0, 0.7);
}

h5.title.menu-title.home {
    background-color: transparent;
    color: white;
    border-bottom: 1px dashed white;
}

.season-specials p {
    color: #7c7c88;
}

/* Season Specials */
.menu-inner.season-specials aside {
    font-size: 18pt;
}

.menu-inner.season-specials aside .menu-title {
    font-size:22pt;
}

.menu-inner.season-specials aside .menu-price {
    font-size:22pt;
}

/* Speisen und Getränke */
.menus-inner.menu-card aside .menu-content.menu-subline h5 {
    font-size:32px;
    margin-top: 20px;
}
.menus-inner.menu-card aside .menu-content.menu-subline p {
    display:none;
}
.menus-inner.menu-card aside .menu-content.menu-subline .menu-title::after {
    border: 0;
}
.menus-inner.menu-card aside .menu-content.menu-subline .menu-price {
    display: none;
}

.button.single-gallery-navigation-link {
    color: black;
    border-color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 25px;
    line-height: 32px;
    border: 2px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    background-color: transparent;
    margin: 0 3px;
}

.button.header-link {
    color: black;
    border-color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 25px;
    line-height: 32px;
    border: 2px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    background-color: transparent;
    margin: 0 3px;
}

.button.single-gallery-navigation-link.active, .button.single-gallery-navigation-link:hover {
    border-color: #e27900;
    color: #e27900;
}

.container-fluid.no-padding {
    padding:0;
}

#footer {
    background-color: black;
}

.footer-info {
    color: white;
}

.footer-info h3 {
    color: #efe6da;
}

.footer-info a {
    color: #e27900;
}

.footer-info a:hover {
    text-decoration: underline;
}

.footer-info button {
    background-color: white;
    color: black;
}

div.error-page, div.event-page {
    font-size:22px;
    line-height:26px;
}

input.input-standard {
    line-height: 22px;
    border: 1px solid;
    background-color: transparent;
    padding: 4px 5px;
    border-radius: 0;
    -webkit-border-radius: 0;
    width: 100%;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input.input-standard:focus {
    border-color: #e27900;
}

.submit-button {
    border: 0;
    text-transform: uppercase;
    width: auto;
    padding: 0 20px;
    line-height: 35px;
}

.submit-button::before {
    background-color: #e27900;
}

.js-submit-registration[disabled] {
    cursor: not-allowed;
    background-color: darkgray;
}